.text{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-bottom: 50px;
}
.btns{
    display: flex;
    justify-content: center;
}
.btns button{
    margin: 0 20px;
    font-size: 30px;
}