form{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    box-sizing:border-box;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    justify-content: space-around;
}
form label{
    font-size: 25px;
    font-weight: bold;
}
form button{
    border: none;
    font-size: 20px;
    padding: 10px 0;
    background: lightgreen;
    border-radius: 5px;
}
form button:hover{
    background: green;
    color:white;
}
form input{
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    padding: 0 50px;
}
form h1,a{
    text-align: center;
}
div{
    height: 50px;
    width: 30%;
    box-shadow: 0 0 50px gray;
    position: absolute;
    right: 50px;
    top: 50px;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
}
div button{
    height: 50%;
    font-weight: bold;
    border:none;
    background: transparent;
}
span{
    display: none;
}